{% extends layout.html %}

{% block title %} Информация {% endblock %}

{% block headers %}
<link rel="stylesheet" type="text/css" href="../web/css/main.css">
<link rel="stylesheet" type="text/css" href="../web/css/profile.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Добро пожаловать!</h1>
    <p class="about">Дневник расходов и доходов - это инструмент для анализа ваших денежных средств.
        С его помощью вы сможете легко отслеживать, как много у вас сбережений,
        куда ушли деньги и сколько составила выручка за месяц или любой другой период.
    </p>
    <a class="back" href="{{ $main_action }}">Назад</a>
</div>
{% endblock %}
