{% block header %}
<div class="b-example-divider"></div>

<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="/main" class="nav-link link-dark px-2 active" aria-current="page">Home</a>
            </li>
            <li class="nav-item"><a href="/cart" class="nav-link link-dark px-2">Cart</a></li>
            <li class="nav-item"><a href="/faqs" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
            <li class="nav-item"><a href="/admin" class="nav-link link-dark px-2">Admin</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="/registration" class="nav-link link-dark px-2">Registration</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link link-dark px-2">Logout</a></li>
        </ul>
    </div>
</nav>
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-bookmark-heart-fill" viewBox="0 0 16 16">
            <path d="M2 15.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v13.5zM8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
        </svg>
        <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <span class="fs-4">Book store</span>

        </a>

        <form action="http://localhost:8081/search" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" name="text" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>
<div class="b-example-divider"></div>

{% endblock %}

{% yield header %}