{% extends layout.html %}

{% block title %} История {% endblock %}

{% block headers %}
<link rel="stylesheet" type="text/css" href="../web/css/main.css">
<link rel="stylesheet" type="text/css" href="../web/css/tables.css">
<link rel="stylesheet" type="text/css" href="../web/css/userForm.css">
{% endblock %}

{% block content %}
<div class="user-form">
  <p>Посмотреть за другой период:</p>
  <form action="{{ $history_action }}" method="POST">
    <input type="date" name="start">
    <input type="date" name="end">
    <input type="submit" value="Посмотреть">
  </form>
</div>
<table class="money-operation">
  <tr>
    <th>Category</th>
    <th>Sum</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

  {%
    foreach ($operations as $operation) {
      $categoryId = $operation->getCategoryId();
      $category = $categories[$categoryId];
      $sum = $operation->getSum();
      $date = $operation->getDate();
      $description = $operation->getDescription();
      $editHref = $edit_action.'?id='.$operation->getId();
      $deleteHref = $delete_action.'?id='.$operation->getId();
      echo "
  <tr>
    <th>$category</th>
    <th>$sum</th>
    <th>$date</th>
    <th>$description</th>
    <th>
      <a href='$editHref'>Edit</a>
    </th>
    <th>
      <a href='$deleteHref'>Delete</a>
    </th>
  </tr>";
    }
  %}

</table>

<a class="user-form user-form__a" href="{{ $profile_action }}">Профиль</a>
{% endblock %}
