{% extends layout.html %}

{% block title %} Доход {% endblock %}

{% block content %}
<h1>Добавить доход</h1>
<form action="{{ $income_action }}" method="post">
  <label for="sum">Сумма</label>
  <input type="number" name="sum" id="sum"><br>

  <label for="date">Дата</label>
  <input type="date" name="date" id="date"><br>

  <label for="category">Категория</label>
  <select name="category_id" id="category">
    {%
      foreach ($categories as $c) {
        $n = $c->getName();
        $i = $c->getId();
        echo "<option value='$i'>$n</option>";
      }
    %}

    <input type="text" hidden="hidden" name="income" value="1">
  </select>
  <br>

  <label for="description">Описание</label>
  <input type="text" name="description" id="description"><br>

  <input type="submit" value="Добавить">
</form>
<a href="{{ $profile_action }}">Профиль</a>
{% endblock %}
