{% extends layout.html %}

{%block title %} News {% endblock%}

{%block content%}
{% endblock %}
{% include header.html %}
<!--Section: News of the day-->
<div class="row gx-5" style="width: 900px;position: relative;left: 500px">
    <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="img/4457.jpg" class="img-fluid"/>
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
        <h4><strong>Top 10 Benefits and Disadvantages of Online Shopping</strong></h4>
        <p class="text-muted">
            The internet has revolutionized the way we shop. Because of the numerous advantages and benefits, more and
            more people these days prefer buying things online over the conventional method of going into stores.

            What are some reasons many people love online shopping, and why is it so popular? Below are my top ten
            reasons for shopping online.
        </p>
        <button type="button" class="btn btn-primary"><a
                href="https://toughnickel.com/frugal-living/Online-shopping-sites-benefits" style="color: white">Read
            more</a></button>
    </div>
</div>

{% include footer.html %}
