{% extends layout.html %}

{% block title %} Сбережение {% endblock %}

{% block headers %}
<link rel="stylesheet" type="text/css" href="../web/css/main.css">
<link rel="stylesheet" type="text/css" href="../web/css/userForm.css">
{% endblock %}

{% block content %}
<div class="user-form">
  <h1>Сбережение</h1>
  <form action="{{ $cash_saving_action }}" method="post">
    <label for="name">Имя</label>
    <input type="text" name="name" id="name" value="{{ $saving->getName() }}"><br>

    <label for="sum">Сумма</label>
    <input type="number" name="sum" id="sum" value="{{ $saving->getSum() }}"><br>

    <input type="submit" value="Сохранить">
  </form>
  {%
  if ($delete_action != null) {
  echo "<a class='user-form__a' href='$delete_action'>Удалить</a>";
  }
  %}
  <br>
  <a class="user-form__a" href="{{ $profile_action }}">Профиль</a>
</div>

{% endblock %}
