.main-text1 {
    background-color: #000000;
    background-image: url(../img/mainImages/main1.png);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 10em;
    text-align: center;
}
.blocks {
    background-color: #000000;
    background-image: url(../img/mainImages/main2.png);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 12em;
    text-align: center;
}
.p-text {
    position: relative;
    bottom: 140px;
    text-align: center;
    font-size: 35px;
    line-height: 38px;
}
.img-text-end {
    position: relative;
    top: 140px;
}
.p-text1 {
    position: relative;
    bottom: 140px;
}
*,
html,
body {
    font-family:"Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.blocks {
    display: flex;
}

.block-item {
    flex: 1 1 auto;
    max-width: 500px;
    margin: 0 auto 40px;
    border: 1px solid indianred;
    background: rgba(900,0,107,0.1);
    padding: 10px;
    position: relative;
    bottom: 150px;
}


.block-content {
    padding: 10px;
    font-size: 18px;
}

.block-content p {
    margin: 0;
}
.container_slider_css{margin:50px auto;width:1000px;height:540px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 24s infinite;opacity:0;width:100%}
@keyframes round {
    25%{opacity:1}
    40%{opacity:0}
}

img:nth-child(1){animation-delay:20s}
img:nth-child(2){animation-delay:16s}
img:nth-child(3){animation-delay:12s}
img:nth-child(4){animation-delay:8s}
img:nth-child(5){animation-delay:4s}
img:nth-child(6){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
    .container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
    .container_slider_css{width:80%;height:190px}
}
.auto_slider {
    position: relative;
    top: 170px;
}